body{
    background-color: #9c4d4d;
}
header{
    width: 41%;
    margin-left: 29%;
}
article{
    background-color: white;
    text-align: justify;
    width: 503px;
    padding: 10px;
    margin-left: 29%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#menu{
    background-color: white;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 41%;
    margin-left: 29%;
}
#menu li{
    float: left;
}
#menu li a{
    display: block;  /* */
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
#menu li a:hover{
    transition: 0.5s;
    color: white;
    background-color: cornflowerblue;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
ol li span{
    float: right;
}
ol li{
    border-bottom: 1px solid black;
}
footer{
    background-color: #6b5959;
}
#btt_link{
    text-align: center;
    padding: 10px 10px;
}
#btt_link a{
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 7px;
}
#btt_link a:hover{
    transition: 0.5s;
    background-color: rgb(210,94,94);
}