body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#title{
    flex-wrap: nowrap;
    display: block;
    line-height: 7px;
    font-family: 'Kalam', cursive;
    overflow: hidden;
    text-align: center; 
    background-color: #17255A;
}
#title img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    margin:auto;
}
h1{
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
    font-size: 25px;
    padding-bottom: 5px;
    
}
.topnav{
    overflow: hidden;
    background-color: #16DB93;

}
.topnav a{
    float: left;
    display: block;
    font-family: 'Sedgwick Ave', cursive;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.topnav a:hover{
    background-color: white;

}

.topnav .icon{
    display: none;
}
#slide{
    flex-wrap: nowrap;
    display: block;
    overflow: hidden;
    text-align: center; 
}
#slide img {
    height: 200px;
    width: 300px;
    padding: 10px;
}
.box_title{
    background-color: #41BBD9;
    text-align: center;
    align-items: center;
    font-family: 'Kalam', cursive;
    font-size: 17px;
}
.box_title h3{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.box_title p{
    padding: 0px ;
    margin: 0px;
}
#curiosities{
    margin: auto;
    padding: 10px;
    text-align: justify;
}

.text{
    columns: 2;
    padding: 20px; 
}

section img{
    height: 200px;
    width: 300px;
      
}
.text h3{
    text-align: center;
    background-color: #FBAF00;

}


.brazil{
    columns: 2;
    padding: 20px;
}
.brazil ul{
    columns: 2;
    text-align: center;
    border: 1px solid black;

    
}
.brazil li{
    font-weight: bolder;
    font-size: 20px;
    
}
spam{
    font-weight: normal;
    font-size: 14px;
}



footer{
    background-color: #17255A;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .slide img {
        height: 300px;
        width: 400px;
        margin: 10px;
    }
    .box_title{
        font-size: 14px;  
        flex-direction: row;
    }
    .text{
        flex-wrap: wrap;
        flex-direction: column;
        columns: 1;
    }

}



@media screen and (max-width: 1200px) {
    .topnav a:not(:first-child){display: none;}
    .topnav a.icon{
        float: right;
        display: block;
    } 
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        
    }
    
}